# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [8]:
def lesser_of_two_evens(a,b):
   
    if a %2 == 0 and b %2 == 0:   # the both number can divided over 2   
        return min(a,b)   # return the smaller number of given two numbers
    else:
        return max(a,b)   # return the greater number of given two numbers

In [9]:
# Check
lesser_of_two_evens(2,4)

2

In [10]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [204]:
def animal_crackers(text):
    
    my_list = text.split()   
    if my_list[0][0] ==my_list[1][0] : # the index of 1st letter in 1st word  and the 1st in 2nd word of list
        print('true')      # print true
    else:
        print ('false')   # print false

In [205]:
# Check
animal_crackers('Levelheaded Llama') # the first letter in first word same  first letter in the second  word

true

In [206]:
# Check
animal_crackers('Crazy Kangaroo')   # the first letter in first word not same  first letter in the second  word

false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [30]:
def makes_twenty(num1,num2):
    

    if  num1==20 or num2==20  or(num1+num2) == 20:  # if num1 = 20 or num2 = 20   or num1=num2=20
        return True
    else:
        return False           #if not = 20 return false

In [31]:
# Check
makes_twenty(20,10)

True

In [34]:
# Check
makes_twenty(12,8)

True

In [33]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [43]:
def old_macdonald(name):  # function:that capitalizes the first and fourth letters of a name
    
    if len(name)>3:  # len : count the number of list
        return name[:3].capitalize()+name[3:].capitalize()   # return the index 3 in the word 
    else:
        return 'none'     # else return none

In [44]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [199]:
def almost_there(x):
        #return true if the numbers in range
    if (x in range(90,110)):  # range from 100-10 and 100+1
        return True
    elif (x in range(190, 210)):  #range from 200-10 and 200+10
        return True 
   
    else:
        return False     #return false if not in range

In [200]:
# Check
almost_there(90)

True

In [201]:
# Check
almost_there(104)

True

In [202]:
# Check
almost_there(150)

False

In [203]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [194]:
def has_33(nums):   #function return True if the array contains a 3 next to a 3 somewhere
    
    for x in range(0, len(nums)-1):          
        if nums[x] == 3 and nums[x+1] == 3: # if the number 3 is respictivly retuen true
            return True

    return False    #else return false

In [195]:
# Check
has_33([1, 3, 3])

True

In [196]:
# Check
has_33([1, 3, 1, 3])

False

In [59]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [191]:
def paper_doll(text):   #function name paper doll
    
    string = ''              # store varible
    for x in text:        
        string += x * 3   #str : x multiplay by 3
    return string

In [192]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [193]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [65]:
def blackjack(a,b,c):
    num_list = [a, b, c]
    if sum(num_list) <= 21:    #if number smaller than or equal 21 , add the numbers
        return sum(num_list)
    if sum(num_list) > 21:      #if number  greater than 21 , add the numbers
        if 11 in num_list:
            if sum(num_list)-10 > 21:
                return 'BUST'         # sub the num_list from 10  and it greater than 21
                                       # return bust
            else: 
                return sum(num_list)-10
    return 'BUST'

In [66]:
# Check
blackjack(5,6,7)

18

In [67]:
# Check
blackjack(9,9,9)

'BUST'

In [68]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [148]:
def summer_69(arr):            #let the name of function summer_69 to delete the numbers 9 and 6 and the number between them and add the other number
    num=True
    D=0               
    for x in arr:
        if(num==False  ):
            if (x==9):    # cheak if number equal 9 and 6 remove it and return num = true
                num=True
        elif(x==6):              # cheak if find number  six return false and add the numbers
            num=False
        else:
            D +=x      #D=D+1   # add the numbers
            
    return D      #return D

In [149]:
# Check
(summer_69([1, 3, 5]))   # no 6 or 9  it will add the numbers 1+3+5=9

9

In [150]:
# Check
(summer_69([4, 5, 6, 7, 8, 9]))   # 6 and 9 will find  so  add the numbers 4+5=9

9

In [151]:
# Check
(summer_69([2, 1, 6, 9, 11])) # 6 and 9  follow each other so we add 2+1+11=14

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [187]:
def spy_game(nums):
   
    for x in range(0,len(nums)):  #len : count the number of list
        if nums[x] == 0:                # the number of index start from 0
            for x in range(x+1,len(nums)):    # add 1 on x  and the number of list 
                if nums[x] == 0:
                    for y in range(x+1,len(nums)):
                        if nums[y] == 7:
                            return True
                else:
                    return False

In [188]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [189]:
# Check
spy_game([1,0,2,4,0,5,7])   # مش راضى يطلع حولت معرفتش

False

In [190]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [171]:
def count_primes(num):   # funtion the return the prime number of 100
    x = 0
    
    for number in range(num+1): 
        if number <=1:    # if number smaller than or equal 1 continue 
            continue       # cut the loop and start from iteration
        if number == 2:     # if number equal 2 continue and cut the loop and start again from the 1st iteration
            x=1
            continue
        for n in range(2,number):  # if n in range of(2 or 3 ) will return 25
            if number % n == 0:     
                break       #cut the loop and exit all iterations              
        else:
            x +=1    #x=x+1
            
    return x    # return x

In [172]:
# Check
count_primes(100)

25

## Great Job!